
* {
	user-select: none;
}

body {
	background-color: lightgray;
}

div.module {
	background-color: white;
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
}

#contents {
	margin: auto;

	width: 910px;
	height: 700px;
}

#board_module {
	float: left;
	width: 700px;
	height: 700px;
}
#board {
	background-color: black;

	width: 700px;
	height: 700px;
}

#control_module, #counter_module {
	float: right;
	width: 150px;
}
#counter {
	text-align: center;
	vertical-align: middle;
}

#turn {
	text-align: center;
	vertical-align: middle;
}

.disk{
	font-size: 1.5rem;
}
.turn_cursor {
	font-size: 1.5rem;
	color: white;
}
#red_turn_cursor {
	color: darkred;
}

/* PC Tablet */
@media screen and (min-width: 979px) {
}

/* Phone */
@media screen and (max-width: 978px) {
}
